<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>

<table width="50%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    <tr th:each="user : ${userDb}">
            <td th:text="${user.id}">Id</td>
            <td th:text="${user.userName}">Name</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.password}">Password</td>
    </tr>
</table>
</body>
</html>